.container {
  margin: 0 auto;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #000;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-around;
}
.row span {
  margin: 0 10px;
  cursor: pointer;
}
